In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score

In [35]:
#We shall begin by importing the 2 US bureau dataframes from each year that we are concerned with:

df1 = pd.read_excel("/Users/jacob/Documents/4YP data/US_BureaOfLaborStatistics/annualstats/national_M2019_dl.xlsx")
df2 = pd.read_excel("/Users/jacob/Documents/4YP data/US_BureaOfLaborStatistics/annualstats/national_M2014_dl.xlsx")

In [36]:
#We shall now drop the unimportant columns:

df1 = df1[["occ_code","tot_emp"]]
df1.columns= df1.columns.str.upper()
#df1 = df1.rename(columns={"occ_code": "OCC_CODE", "occ_title": "OCC_TITLE", "tot_emp": "TOT_EMP"}) #ensure consistency of labels
df2 = df2[["OCC_CODE","TOT_EMP"]]


#Now add a holder column for the data to be added to df1:

df1["TOT_EMP2"]=np.nan
df1.head()

  OCC_CODE    TOT_EMP  TOT_EMP2
0  00-0000  146875480       NaN
1  11-0000    8054120       NaN
2  11-1000    2658440       NaN
3  11-1010     205890       NaN
4  11-1011     205890       NaN

In [ ]:
''' IGNORE ME '''

#Now we drop duplicate rows on both dataframes:

df1 = df1.drop_duplicates(subset = ["OCC_CODE"],keep="first")
df1 = df1.drop_duplicates(subset = ["TOT_EMP"],keep="first")
df2 = df2.drop_duplicates(subset = ["OCC_CODE"],keep="first")
df2 = df2.drop_duplicates(subset = ["TOT_EMP"],keep="first")

df1.reset_index(drop=True,inplace=True)
df2.reset_index(drop=True,inplace=True)

In [37]:
df1 = df1.groupby('OCC_CODE').median().reset_index()
df2 = df2.groupby('OCC_CODE').median().reset_index()

In [ ]:
#We shall now focus on concatenating these dataframes

def concat_data(a,b,key):
    my_list = list(b["OCC_CODE"])
    for i in range(0,len(my_list)):
        if my_list[i] in list(a["OCC_CODE"]) == True:
            a.loc[a["OCC_CODE"] == my_list[i],"TOT_EMP2"] = list(b.loc[b["OCC_CODE"] == my_list[i],key])
        else:
            pass
    return a

concat_data(df1,df2,"TOT_EMP")

In [38]:
my_list = list(df1["OCC_CODE"])

for i in range(0,len(my_list)):
    if my_list[i] in list(df2["OCC_CODE"]):
        df1.loc[df1["OCC_CODE"] == my_list[i],"TOT_EMP2"] = df2.loc[df2["OCC_CODE"] == my_list[i],"TOT_EMP"].values[0]

df1.head()

  OCC_CODE    TOT_EMP     TOT_EMP2
0  00-0000  146875480  135128260.0
1  11-0000    8054120    6741640.0
2  11-1000    2658440    2351130.0
3  11-1010     205890     246240.0
4  11-1011     205890     246240.0

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1316 entries, 0 to 1315
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OCC_CODE  1316 non-null   object
 1   TOT_EMP   1316 non-null   int64
 2   TOT_EMP2  1224 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 31.0+ KB

In [40]:
df1.dropna(inplace=True)
df1["CHANGE_EMP"] = df1["TOT_EMP"] - df1["TOT_EMP2"]
df1.head()

  OCC_CODE    TOT_EMP     TOT_EMP2  CHANGE_EMP
0  00-0000  146875480  135128260.0  11747220.0
1  11-0000    8054120    6741640.0   1312480.0
2  11-1000    2658440    2351130.0    307310.0
3  11-1010     205890     246240.0    -40350.0
4  11-1011     205890     246240.0    -40350.0

In [41]:
#Now lets work on adding the skill values:

df3 = pd.read_csv("/Users/jacob/Documents/4YP data/ONET_18-10-21/test.csv")

In [42]:
df3 = df3.drop(columns=['Title', 'Auto label value'])
df3.head()

,O*NET-SOC Code,Reading Comprehension,Active Listening,Writing,Speaking,Mathematics,Science,Critical Thinking,Active Learning,Learning Strategies,...,Troubleshooting,Repairing,Quality Control Analysis,Judgment and Decision Making,Systems Analysis,Systems Evaluation,Time Management,Management of Financial Resources,Management of Material Resources,Management of Personnel Resources
0,11-1011.00,4.75,4.88,4.38,4.88,3.62,1.12,4.75,4.75,3.88,...,0.00,0.0,1.00,5.75,5.38,5.12,4.75,5.50,4.75,5.38
1,11-1011.03,4.25,4.00,4.25,4.12,3.12,1.88,4.12,3.88,3.75,...,0.00,0.0,1.50,4.00,4.00,4.00,3.88,3.12,2.62,4.00
2,11-1021.00,4.00,4.00,3.88,4.00,2.50,1.12,4.00,3.62,3.25,...,1.38,0.0,2.12,3.75,3.00,3.12,3.75,3.38,3.25,3.88
3,11-2011.00,4.00,4.12,3.88,4.12,3.25,0.62,4.12,4.12,3.25,...,0.00,0.0,1.00,4.00,3.12,3.75,3.88,3.62,2.62,3.88
4,11-2021.00,4.25,4.12,3.88,4.12,3.12,1.50,4.25,4.12,3.50,...,0.00,0.0,1.38,4.00,3.75,3.75,3.75,3.75,2.75,3.88

In [43]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 873 entries, 0 to 872
Data columns (total 36 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   O*NET-SOC Code                     873 non-null    object
 1   Reading Comprehension              873 non-null    float64
 2   Active Listening                   873 non-null    float64
 3   Writing                            873 non-null    float64
 4   Speaking                           873 non-null    float64
 5   Mathematics                        873 non-null    float64
 6   Science                            873 non-null    float64
 7   Critical Thinking                  873 non-null    float64
 8   Active Learning                    873 non-null    float64
 9   Learning Strategies                873 non-null    float64
 10  Monitoring                         873 non-null    float64
 11  Social Perceptiveness              873 non-null    float64
 12  Coordination                       873 non-null    float64
 13  Persuasion                         873 non-null    float64
 14  Negotiation                        873 non-null    float64
 15  Instructing                        873 non-null    float64
 16  Service Orientation                873 non-null    float64
 17  Complex Problem Solving            873 non-null    float64
 18  Operations Analysis                873 non-null    float64
 19  Technology Design                  873 non-null    float64
 20  Equipment Selection                873 non-null    float64
 21  Installation                       873 non-null    float64
 22  Programming                        873 non-null    float64
 23  Operations Monitoring              873 non-null    float64
 24  Operation and Control              873 non-null    float64
 25  Equipment Maintenance              873 non-null    float64
 26  Troubleshooting                    873 non-null    float64
 27  Repairing                          873 non-null    float64
 28  Quality Control Analysis           873 non-null    float64
 29  Judgment and Decision Making       873 non-null    float64
 30  Systems Analysis                   873 non-null    float64
 31  Systems Evaluation                 873 non-null    float64
 32  Time Management                    873 non-null    float64
 33  Management of Financial Resources  873 non-null    float64
 34  Management of Material Resources   873 non-null    float64
 35  Management of Personnel Resources  873 non-null    float64
dtypes: float64(35), object(1)
memory usage: 245.7+ KB

In [44]:
def title_set(my_string):
    my_output = my_string[:-3]
    return my_output

df3.iloc[:,0] = df3.iloc[:,0].apply(title_set)

df3 = df3.groupby('O*NET-SOC Code').median().reset_index()

df3.head()
#title_set("11-1011.00")

,O*NET-SOC Code,Reading Comprehension,Active Listening,Writing,Speaking,Mathematics,Science,Critical Thinking,Active Learning,Learning Strategies,...,Troubleshooting,Repairing,Quality Control Analysis,Judgment and Decision Making,Systems Analysis,Systems Evaluation,Time Management,Management of Financial Resources,Management of Material Resources,Management of Personnel Resources
0,11-1011,4.50,4.44,4.315,4.50,3.37,1.50,4.435,4.315,3.815,...,0.00,0.0,1.25,4.875,4.69,4.56,4.315,4.31,3.685,4.69
1,11-1021,4.00,4.00,3.880,4.00,2.50,1.12,4.000,3.620,3.250,...,1.38,0.0,2.12,3.750,3.00,3.12,3.750,3.38,3.250,3.88
2,11-2011,4.00,4.12,3.880,4.12,3.25,0.62,4.120,4.120,3.250,...,0.00,0.0,1.00,4.000,3.12,3.75,3.880,3.62,2.620,3.88
3,11-2021,4.25,4.12,3.880,4.12,3.12,1.50,4.250,4.120,3.500,...,0.00,0.0,1.38,4.000,3.75,3.75,3.750,3.75,2.750,3.88
4,11-2022,4.00,4.00,4.000,4.12,3.25,0.62,4.000,3.880,3.750,...,0.00,0.0,1.38,4.000,3.75,3.88,3.880,3.62,3.000,4.00

In [45]:
#We now have got to deal with duplicate SOC codes

df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 759 entries, 0 to 758
Data columns (total 36 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   O*NET-SOC Code                     759 non-null    object
 1   Reading Comprehension              759 non-null    float64
 2   Active Listening                   759 non-null    float64
 3   Writing                            759 non-null    float64
 4   Speaking                           759 non-null    float64
 5   Mathematics                        759 non-null    float64
 6   Science                            759 non-null    float64
 7   Critical Thinking                  759 non-null    float64
 8   Active Learning                    759 non-null    float64
 9   Learning Strategies                759 non-null    float64
 10  Monitoring                         759 non-null    float64
 11  Social Perceptiveness              759 non-null    float64
 12  Coordination                       759 non-null    float64
 13  Persuasion                         759 non-null    float64
 14  Negotiation                        759 non-null    float64
 15  Instructing                        759 non-null    float64
 16  Service Orientation                759 non-null    float64
 17  Complex Problem Solving            759 non-null    float64
 18  Operations Analysis                759 non-null    float64
 19  Technology Design                  759 non-null    float64
 20  Equipment Selection                759 non-null    float64
 21  Installation                       759 non-null    float64
 22  Programming                        759 non-null    float64
 23  Operations Monitoring              759 non-null    float64
 24  Operation and Control              759 non-null    float64
 25  Equipment Maintenance              759 non-null    float64
 26  Troubleshooting                    759 non-null    float64
 27  Repairing                          759 non-null    float64
 28  Quality Control Analysis           759 non-null    float64
 29  Judgment and Decision Making       759 non-null    float64
 30  Systems Analysis                   759 non-null    float64
 31  Systems Evaluation                 759 non-null    float64
 32  Time Management                    759 non-null    float64
 33  Management of Financial Resources  759 non-null    float64
 34  Management of Material Resources   759 non-null    float64
 35  Management of Personnel Resources  759 non-null    float64
dtypes: float64(35), object(1)
memory usage: 213.6+ KB

In [46]:
# We are all setup to concatenate employment change to each of the skill variables!

df3["Change in Employment"] = np.nan

my_list = list(df3["O*NET-SOC Code"])

for i in range(0,len(my_list)):
    if my_list[i] in list(df1["OCC_CODE"]):
        df3.loc[df3["O*NET-SOC Code"] == my_list[i],"Change in Employment"] = df1.loc[df1["OCC_CODE"] == my_list[i],"CHANGE_EMP"].values[0]

df3 = df3.dropna(subset=['Change in Employment'])
df3.head()

,O*NET-SOC Code,Reading Comprehension,Active Listening,Writing,Speaking,Mathematics,Science,Critical Thinking,Active Learning,Learning Strategies,...,Repairing,Quality Control Analysis,Judgment and Decision Making,Systems Analysis,Systems Evaluation,Time Management,Management of Financial Resources,Management of Material Resources,Management of Personnel Resources,Change in Employment
0,11-1011,4.50,4.44,4.315,4.50,3.37,1.50,4.435,4.315,3.815,...,0.0,1.25,4.875,4.69,4.56,4.315,4.31,3.685,4.69,-40350.0
1,11-1021,4.00,4.00,3.880,4.00,2.50,1.12,4.000,3.620,3.250,...,0.0,2.12,3.750,3.00,3.12,3.750,3.38,3.250,3.88,350410.0
2,11-2011,4.00,4.12,3.880,4.12,3.25,0.62,4.120,4.120,3.250,...,0.0,1.00,4.000,3.12,3.75,3.880,3.62,2.620,3.88,-4240.0
3,11-2021,4.25,4.12,3.880,4.12,3.12,1.50,4.250,4.120,3.500,...,0.0,1.38,4.000,3.75,3.75,3.750,3.75,2.750,3.88,79190.0
4,11-2022,4.00,4.00,4.000,4.12,3.25,0.62,4.000,3.880,3.750,...,0.0,1.38,4.000,3.75,3.88,3.880,3.62,3.000,4.00,43680.0

In [48]:
df3.to_csv("regressordata.csv",index=False)

In [ ]:
list(df3["O*NET-SOC Code"])

In [ ]:
list(df1["OCC_CODE"])

In [ ]:
df3.loc[df3["O*NET-SOC Code"] == my_list[1],"Change in Employment"] = df1.loc[df1["OCC_CODE"] == my_list[1],"CHANGE_EMP"].values[0]

In [47]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 661 entries, 0 to 758
Data columns (total 37 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   O*NET-SOC Code                     661 non-null    object
 1   Reading Comprehension              661 non-null    float64
 2   Active Listening                   661 non-null    float64
 3   Writing                            661 non-null    float64
 4   Speaking                           661 non-null    float64
 5   Mathematics                        661 non-null    float64
 6   Science                            661 non-null    float64
 7   Critical Thinking                  661 non-null    float64
 8   Active Learning                    661 non-null    float64
 9   Learning Strategies                661 non-null    float64
 10  Monitoring                         661 non-null    float64
 11  Social Perceptiveness              661 non-null    float64
 12  Coordination                       661 non-null    float64
 13  Persuasion                         661 non-null    float64
 14  Negotiation                        661 non-null    float64
 15  Instructing                        661 non-null    float64
 16  Service Orientation                661 non-null    float64
 17  Complex Problem Solving            661 non-null    float64
 18  Operations Analysis                661 non-null    float64
 19  Technology Design                  661 non-null    float64
 20  Equipment Selection                661 non-null    float64
 21  Installation                       661 non-null    float64
 22  Programming                        661 non-null    float64
 23  Operations Monitoring              661 non-null    float64
 24  Operation and Control              661 non-null    float64
 25  Equipment Maintenance              661 non-null    float64
 26  Troubleshooting                    661 non-null    float64
 27  Repairing                          661 non-null    float64
 28  Quality Control Analysis           661 non-null    float64
 29  Judgment and Decision Making       661 non-null    float64
 30  Systems Analysis                   661 non-null    float64
 31  Systems Evaluation                 661 non-null    float64
 32  Time Management                    661 non-null    float64
 33  Management of Financial Resources  661 non-null    float64
 34  Management of Material Resources   661 non-null    float64
 35  Management of Personnel Resources  661 non-null    float64
 36  Change in Employment               661 non-null    float64
dtypes: float64(36), object(1)
memory usage: 196.2+ KB

In [26]:
list(df3["O*NET-SOC Code"])

['11-1011',
 '11-1021',
 '11-2011',
 '11-2021',
 '11-2022',
 '11-3012',
 '11-3021',
 '11-3031',
 '11-3051',
 '11-3061',
 '11-3071',
 '11-3111',
 '11-3121',
 '11-3131',
 '11-9013',
 '11-9021',
 '11-9031',
 '11-9032',
 '11-9033',
 '11-9041',
 '11-9051',
 '11-9071',
 '11-9081',
 '11-9111',
 '11-9121',
 '11-9131',
 '11-9141',
 '11-9151',
 '11-9161',
 '11-9171',
 '11-9179',
 '11-9199',
 '13-1011',
 '13-1021',
 '13-1022',
 '13-1023',
 '13-1031',
 '13-1032',
 '13-1041',
 '13-1051',
 '13-1071',
 '13-1074',
 '13-1075',
 '13-1081',
 '13-1111',
 '13-1121',
 '13-1131',
 '13-1141',
 '13-1151',
 '13-1161',
 '13-1199',
 '13-2011',
 '13-2023',
 '13-2031',
 '13-2041',
 '13-2052',
 '13-2053',
 '13-2061',
 '13-2071',
 '13-2072',
 '13-2081',
 '13-2082',
 '13-2099',
 '15-1211',
 '15-1212',
 '15-1221',
 '15-1231',
 '15-1232',
 '15-1241',
 '15-1242',
 '15-1243',
 '15-1244',
 '15-1251',
 '15-1253',
 '15-1254',
 '15-1255',
 '15-1299',
 '15-2011',
 '15-2021',
 '15-2031',
 '15-2041',
 '15-2051',
 '15-2099',
 '17-1011',
 '17-1012',
 '17-1021',
 '17-1022',
 '17-2011',
 '17-2021',
 '17-2031',
 '17-2041',
 '17-2051',
 '17-2061',
 '17-2071',
 '17-2072',
 '17-2081',
 '17-2111',
 '17-2112',
 '17-2121',
 '17-2131',
 '17-2141',
 '17-2151',
 '17-2161',
 '17-2171',
 '17-2199',
 '17-3011',
 '17-3012',
 '17-3013',
 '17-3021',
 '17-3022',
 '17-3023',
 '17-3024',
 '17-3025',
 '17-3026',
 '17-3027',
 '17-3029',
 '17-3031',
 '19-1011',
 '19-1012',
 '19-1013',
 '19-1021',
 '19-1022',
 '19-1023',
 '19-1029',
 '19-1031',
 '19-1032',
 '19-1041',
 '19-1042',
 '19-2011',
 '19-2012',
 '19-2021',
 '19-2031',
 '19-2032',
 '19-2041',
 '19-2042',
 '19-2043',
 '19-2099',
 '19-3011',
 '19-3022',
 '19-3032',
 '19-3033',
 '19-3034',
 '19-3041',
 '19-3051',
 '19-3091',
 '19-3092',
 '19-3093',
 '19-3094',
 '19-3099',
 '19-4012',
 '19-4013',
 '19-4021',
 '19-4031',
 '19-4042',
 '19-4043',
 '19-4051',
 '19-4061',
 '19-4071',
 '19-4092',
 '19-4099',
 '19-5011',
 '19-5012',
 '21-1011',
 '21-1012',
 '21-1013',
 '21-1014',
 '21-1015',
 '21-1021',
 '21-1022',
 '21-1023',
 '21-1091',
 '21-1092',
 '21-1093',
 '21-1094',
 '21-2011',
 '21-2021',
 '23-1011',
 '23-1012',
 '23-1021',
 '23-1022',
 '23-1023',
 '23-2011',
 '23-2093',
 '25-1011',
 '25-1021',
 '25-1022',
 '25-1031',
 '25-1032',
 '25-1041',
 '25-1042',
 '25-1043',
 '25-1051',
 '25-1052',
 '25-1053',
 '25-1054',
 '25-1061',
 '25-1062',
 '25-1063',
 '25-1064',
 '25-1065',
 '25-1066',
 '25-1067',
 '25-1071',
 '25-1072',
 '25-1081',
 '25-1082',
 '25-1111',
 '25-1112',
 '25-1113',
 '25-1121',
 '25-1122',
 '25-1123',
 '25-1124',
 '25-1125',
 '25-1126',
 '25-1192',
 '25-1193',
 '25-1194',
 '25-2011',
 '25-2012',
 '25-2021',
 '25-2022',
 '25-2023',
 '25-2031',
 '25-2032',
 '25-2051',
 '25-2057',
 '25-2058',
 '25-2059',
 '25-3011',
 '25-3021',
 '25-3041',
 '25-4011',
 '25-4012',
 '25-4013',
 '25-4022',
 '25-4031',
 '25-9021',
 '25-9031',
 '25-9044',
 '27-1011',
 '27-1012',
 '27-1013',
 '27-1014',
 '27-1021',
 '27-1022',
 '27-1023',
 '27-1024',
 '27-1025',
 '27-1026',
 '27-1027',
 '27-2011',
 '27-2012',
 '27-2021',
 '27-2022',
 '27-2023',
 '27-2031',
 '27-2032',
 '27-2041',
 '27-2042',
 '27-3011',
 '27-3023',
 '27-3031',
 '27-3041',
 '27-3042',
 '27-3043',
 '27-3091',
 '27-3092',
 '27-4011',
 '27-4012',
 '27-4014',
 '27-4021',
 '27-4031',
 '27-4032',
 '29-1011',
 '29-1021',
 '29-1022',
 '29-1023',
 '29-1024',
 '29-1031',
 '29-1041',
 '29-1051',
 '29-1071',
 '29-1081',
 '29-1122',
 '29-1123',
 '29-1124',
 '29-1125',
 '29-1126',
 '29-1127',
 '29-1128',
 '29-1129',
 '29-1131',
 '29-1141',
 '29-1151',
 '29-1161',
 '29-1171',
 '29-1181',
 '29-1211',
 '29-1213',
 '29-1215',
 '29-1216',
 '29-1217',
 '29-1218',
 '29-1221',
 '29-1222',
 '29-1223',
 '29-1224',
 '29-1229',
 '29-1241',
 '29-1291',
 '29-1292',
 '29-1299',
 '29-2011',
 '29-2012',
 '29-2031',
 '29-2032',
 '29-2033',
 '29-2034',
 '29-2035',
 '29-2051',
 '29-2052',
 '29-2053',
 '29-2055',
 '29-2056',
 '29-2057',
 '29-2061',
 '29-2081',
 '29-2091',
 '29-2092',
 '29-2099',
 '29-9091',
 '29-9092',
 '29-9093',
 '29-9099',
 '31-1121',
 '31-1122',
 '31-1131',
 '31-1132',
 '31-1133',
 '31-2011',
 '31-2012',
 '31-2021',
 '31-2022',
 '31-9011',
 '31-9091',
 '31-9092',
 '31-9093',
 '31-9094',
 '31-9095',
 '31-9096',
 '31-9097',
 '31-9099',
 '33-1011',
 '33-1012',
 '33-1021',
 '33-2011',
 '33-2021',
 '33-2022',
 '33-3011',
 '33-3012',
 '33-3021',
 '33-3031',
 '33-3041',
 '33-3051',
 '33-3052',
 '33-9011',
 '33-9021',
 '33-9031',
 '33-9032',
 '33-9091',
 '33-9092',
 '33-9093',
 '33-9099',
 '35-1011',
 '35-1012',
 '35-2011',
 '35-2012',
 '35-2013',
 '35-2014',
 '35-2015',
 '35-2021',
 '35-3011',
 '35-3023',
 '35-3031',
 '35-3041',
 '35-9011',
 '35-9021',
 '35-9031',
 '37-1011',
 '37-1012',
 '37-2011',
 '37-2012',
 '37-2021',
 '37-3011',
 '37-3012',
 '37-3013',
 '39-1013',
 '39-1022',
 '39-2011',
 '39-2021',
 '39-3011',
 '39-3012',
 '39-3021',
 '39-3031',
 '39-3091',
 '39-3092',
 '39-3093',
 '39-4011',
 '39-4021',
 '39-4031',
 '39-5011',
 '39-5012',
 '39-5091',
 '39-5092',
 '39-5093',
 '39-5094',
 '39-6011',
 '39-6012',
 '39-7011',
 '39-7012',
 '39-9011',
 '39-9031',
 '39-9032',
 '39-9041',
 '41-1011',
 '41-1012',
 '41-2011',
 '41-2012',
 '41-2021',
 '41-2022',
 '41-2031',
 '41-3011',
 '41-3021',
 '41-3031',
 '41-3041',
 '41-4011',
 '41-4012',
 '41-9011',
 '41-9012',
 '41-9021',
 '41-9022',
 '41-9031',
 '41-9041',
 '41-9091',
 '43-1011',
 '43-2011',
 '43-2021',
 '43-3011',
 '43-3021',
 '43-3031',
 '43-3041',
 '43-3051',
 '43-3061',
 '43-3071',
 '43-4011',
 '43-4021',
 '43-4031',
 '43-4041',
 '43-4051',
 '43-4061',
 '43-4071',
 '43-4081',
 '43-4111',
 '43-4121',
 '43-4131',
 '43-4141',
 '43-4151',
 '43-4161',
 '43-4171',
 '43-4181',
 '43-5011',
 '43-5021',
 '43-5031',
 '43-5032',
 '43-5041',
 '43-5051',
 '43-5052',
 '43-5053',
 '43-5061',
 '43-5071',
 '43-5111',
 '43-6011',
 '43-6012',
 '43-6013',
 '43-6014',
 '43-9021',
 '43-9022',
 '43-9031',
 '43-9041',
 '43-9051',
 '43-9061',
 '43-9071',
 '43-9081',
 '43-9111',
 '45-1011',
 '45-2011',
 '45-2021',
 '45-2041',
 '45-2091',
 '45-2092',
 '45-2093',
 '45-3031',
 '45-4011',
 '45-4021',
 '45-4022',
 '45-4023',
 '47-1011',
 '47-2011',
 '47-2021',
 '47-2022',
 '47-2031',
 '47-2041',
 '47-2042',
 '47-2043',
 '47-2044',
 '47-2051',
 '47-2053',
 '47-2061',
 '47-2071',
 '47-2072',
 '47-2073',
 '47-2081',
 '47-2082',
 '47-2111',
 '47-2121',
 '47-2131',
 '47-2132',
 '47-2141',
 '47-2142',
 '47-2151',
 '47-2152',
 '47-2161',
 '47-2171',
 '47-2181',
 '47-2211',
 '47-2221',
 '47-2231',
 '47-3011',
 '47-3012',
 '47-3013',
 '47-3014',
 '47-3015',
 '47-3016',
 '47-4011',
 '47-4021',
 '47-4031',
 '47-4041',
 '47-4051',
 '47-4061',
 '47-4071',
 '47-4091',
 '47-4099',
 '47-5011',
 '47-5012',
 '47-5013',
 '47-5022',
 '47-5023',
 '47-5032',
 '47-5041',
 '47-5043',
 '47-5044',
 '47-5051',
 '47-5071',
 '47-5081',
 '49-1011',
 '49-2011',
 '49-2021',
 '49-2022',
 '49-2091',
 '49-2092',
 '49-2093',
 '49-2094',
 '49-2095',
 '49-2096',
 '49-2097',
 '49-2098',
 '49-3011',
 '49-3021',
 '49-3022',
 '49-3023',
 '49-3031',
 '49-3041',
 '49-3042',
 '49-3043',
 '49-3051',
 '49-3052',
 '49-3053',
 '49-3091',
 '49-3092',
 '49-3093',
 '49-9011',
 '49-9012',
 '49-9021',
 '49-9031',
 '49-9041',
 '49-9043',
 '49-9044',
 '49-9045',
 '49-9051',
 '49-9052',
 '49-9061',
 '49-9062',
 '49-9063',
 '49-9064',
 '49-9071',
 '49-9081',
 '49-9091',
 '49-9092',
 '49-9094',
 '49-9095',
 '49-9096',
 '49-9097',
 '49-9098',
 '49-9099',
 '51-1011',
 '51-2011',
 '51-2021',
 '51-2022',
 '51-2023',
 '51-2031',
 '51-2041',
 '51-2051',
 '51-2061',
 '51-2092',
 '51-3011',
 '51-3021',
 '51-3022',
 '51-3023',
 '51-3091',
 '51-3092',
 '51-3093',
 '51-4021',
 '51-4022',
 '51-4023',
 '51-4031',
 '51-4032',
 '51-4033',
 '51-4034',
 '51-4035',
 '51-4041',
 '51-4051',
 '51-4052',
 '51-4061',
 '51-4062',
 '51-4071',
 '51-4072',
 '51-4081',
 '51-4111',
 '51-4121',
 '51-4122',
 '51-4191',
 '51-4192',
 '51-4193',
 '51-4194',
 '51-5111',
 '51-5112',
 '51-5113',
 '51-6011',
 '51-6021',
 '51-6031',
 '51-6041',
 '51-6042',
 '51-6051',
 '51-6052',
 '51-6061',
 '51-6062',
 '51-6063',
 '51-6064',
 '51-6091',
 '51-6092',
 '51-6093',
 '51-7011',
 '51-7021',
 '51-7031',
 '51-7032',
 '51-7041',
 '51-7042',
 '51-8011',
 '51-8012',
 '51-8013',
 '51-8021',
 '51-8031',
 '51-8091',
 '51-8092',
 '51-8093',
 '51-8099',
 '51-9011',
 '51-9012',
 '51-9021',
 '51-9022',
 '51-9023',
 '51-9031',
 '51-9032',
 '51-9041',
 '51-9051',
 '51-9061',
 '51-9071',
 '51-9081',
 '51-9082',
 '51-9083',
 '51-9111',
 '51-9123',
 '51-9124',
 '51-9141',
 '51-9151',
 '51-9161',
 '51-9162',
 '51-9191',
 '51-9192',
 '51-9193',
 '51-9194',
 '51-9195',
 '51-9196',
 '51-9197',
 '51-9198',
 '53-1041',
 '53-1042',
 '53-1043',
 '53-2011',
 '53-2012',
 '53-2021',
 '53-2022',
 '53-2031',
 '53-3011',
 '53-3031',
 '53-3032',
 '53-3033',
 '53-3052',
 '53-4011',
 '53-4013',
 '53-4022',
 '53-4031',
 '53-4041',
 '53-5011',
 '53-5021',
 '53-5022',
 '53-5031',
 '53-6011',
 '53-6021',
 '53-6031',
 '53-6041',
 '53-6051',
 '53-6061',
 '53-7011',
 '53-7021',
 '53-7031',
 '53-7041',
 '53-7051',
 '53-7061',
 '53-7062',
 '53-7063',
 '53-7064',
 '53-7065',
 '53-7071',
 '53-7072',
 '53-7073',
 '53-7081',
 '53-7121']

In [29]:
list(df1["OCC_CODE"])

['00-0000',
 '11-0000',
 '11-1000',
 '11-1010',
 '11-1011',
 '11-1020',
 '11-1021',
 '11-1030',
 '11-1031',
 '11-2000',
 '11-2010',
 '11-2011',
 '11-2020',
 '11-2021',
 '11-2022',
 '11-2030']