In [5]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'sample_id': ['sample1', 'sample2',
                              'sample1', 'sample2', 'sample3'],
                   'qual': [10, 20, 50, 10, 100],
                  'percent': [np.nan, 30, 60, 90, 20],
                  'control': ["a","b","c","d","e"]})

df.groupby('sample_id').mean().reset_index()


#np.nan counts as 0 to the groupby function

  sample_id  qual  percent
0   sample1    30       30
1   sample2    15       60
2   sample3   100       20